[submodule "message/opentelemetry"]
	path = message/opentelemetry
	url = ../../deepflowio/opentelemetry-proto.git
[submodule "agent/src/ebpf/libs/jattach"]
	path = agent/src/ebpf/libs/jattach
	url = ../../deepflowio/jattach
	ignore = dirty